
<footer class="bg-gray-200  py-10">
  <div class=" px-2 md:px-0 container  mx-auto">
    <h2 class="my-2 fs-4">Get The Fresh Cart App</h2>
    <p class="text-gray-600 my-2 fs-4">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>
    

    <!-- inputs design  -->
    <div class="flex  items-center my-5 space-x-2">
      <input type="email"
        class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-[80%]"
        placeholder="Email .." />

      <button class="bg-green-500 px-1 text-white py-1 w-[20%] rounded-md">
        Share App Link
      </button>
    </div>



      <!--   footer payment Details Design  -->
    <div class="flex-col md:flex-row md:flex justify-between border border-t-[1px] border-b-[1px] border-y-gray-100  ">
      <div class="flex items-center space-x-2 my-4 ">
        <h3 class="fs-6">Payment partners</h3>
        <img src="assets/images/amazon-pay.png" width="60px" alt="Amazon Pay" />
        <img src="assets/images/American-Express-Color.png" width="60px" alt="American Express" />
        <img src="assets/images/paypal.png" width="60px" alt="Paypal" />
        <img src="assets/images/mastercard.webp" width="60px" alt="Master Card" />
      </div>

      <div class="flex items-center space-x-2  my-4 ">
        <h3 class="fs-6 ">Get Deliveries with Fresh Cart</h3>
        <img src="assets/images/get-google-play.png" width="90px" alt="Google Store" />
        <img src="assets/images/get-apple-store.png" width="90px" alt="Apple Store" />
      </div>
    </div>


  </div>

  


</footer>
