
@if (step==1) {

<section class="w-1/2 mx-auto bg-gray border rounded shadow my-20 p-4">
    <h1 class="text-blue-700 fw-bolder text-center text-2xl">Reset Your Password</h1>

    <form [formGroup]="verifyEmail" (ngSubmit)="submitEmail()">

        <!-- validation email -->
        <div class="mb-2">

            @let controlEmail = verifyEmail.get('email');
            <label for="Email" class="block mb-2 text-sm font-medium text-gray-500 ">Email :</label>
            <input formControlName="email" type="email" id="Email" class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">

            @if(controlEmail?.errors&&controlEmail?.touched)
            {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 mt-1 " role="alert">

                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if(controlEmail?.getError('required'))
                        {
                        <li>This field is required</li>
                        }
                        @else if (controlEmail?.getError('email')){
                        <li>Enter valid Email</li>
                        }

                    </ul>
                </div>
            </div>
            }

        </div>
        <!-- validation email -->

        <button type="submit" [disabled]="verifyEmail.invalid|| isLoading" class="login-button bg-green-400 px-1 my-1">
            Send Code

            @if (this.isLoading)
            {
            <span class="ms-1 fas fa-spin fa-spinner"></span>
            }
        </button>
    </form>



</section>

}
@else if (step==2) {


<section class="w-1/2 mx-auto bg-gray border rounded shadow my-20 p-4">
    <h1 class="text-blue-700 fw-bolder text-center text-2xl">Please Enter Your code</h1>

    <form [formGroup]="verifyCode" (ngSubmit)="submitCode()">

        <!-- validation code -->
        <div class="mb-2">

            @let controlcode = verifyCode.get('resetCode');
            <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-500 ">resetCode :</label>
            <input formControlName="resetCode" type="text" id="resetCode" class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">

            @if(controlcode?.errors&&controlcode?.touched)
            {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 mt-1 " role="alert">

                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if(controlcode?.getError('required'))
                        {
                        <li>This field is required</li>
                        }
                       @else if (controlcode?.getError('pattern')){
  <li class="text-red-500">Enter valid code</li>
}

                    </ul>
                </div>
            </div>
            }

        </div>
        <!-- validation code -->

        <button type="submit" [disabled]="verifyCode.invalid|| isLoading" class="cursor-pointer login-button bg-green-300 px-1 my-1">
            Submit Code
            @if (this.isLoading)
            {
            <span class="ms-1 fas fa-spin fa-spinner"></span>
            }

        </button>
    </form>



</section>

}
@else {

<section class="w-1/2 mx-auto bg-gray border rounded shadow my-20 p-4">
    <h1 class="text-blue-700 fw-bolder text-center text-2xl">Please Enter Your Email</h1>

    <form [formGroup]="resetPassword" (ngSubmit)="submitAccount()">

        <!-- validation email -->
        <div class="mb-2">

            @let controlPassword = resetPassword.get('email');
            <label for="Email" class="block mb-2 text-sm font-medium text-gray-500 ">Email :</label>
            <input  formControlName="email" type="email" id="Email" class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">

            @if(controlPassword?.errors&&controlPassword?.touched)
            {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 mt-1 " role="alert">

                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if(controlPassword?.getError('required'))
                        {
                        <li>This field is required</li>
                        }
                        @else if (controlPassword?.getError('newPassword')){
                        <li>Enter valid Password</li>
                        }

                    </ul>
                </div>
            </div>
            }

        </div>
        <!-- validation email -->



        <!-- validation password -->
        <div class="mb-2">
            @let controlNewPassword = resetPassword.get('newPassword');
            <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-500 ">newPassword :</label>
            <input formControlName="newPassword" type="password" id="newPassword" class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">

            @if(controlNewPassword?.errors&&controlNewPassword?.touched)
            {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 mt-1 " role="alert">

                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if(controlNewPassword?.getError('required'))
                        {
                        <li>This field is required</li>
                        }
                        @else if (controlNewPassword?.getError('pattern')){
                        <li>"must be at least 6 characters" </li>
                        }

                    </ul>
                </div>
            </div>
            }

        </div>
        <!-- validation password -->

        <button type="submit" (click)="submitAccount()" [disabled]="resetPassword.invalid|| isLoading" class="login-button text-white text-2xl bg-green-300 px-1 my-1">
           Submit New Password 
            @if (this.isLoading)
            {
            <span class="ms-1 fas fa-spin fa-spinner"></span>
            }
        </button>
    </form>



</section>

}
